

.each-slide-effect > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: 500px;
    border-radius: 15px;
    
  }

  @media screen and (max-width:1750px){
    .each-slide-effect > div {
      display: flex;
      align-items: center;
      justify-content: center;
      background-size: cover;
      height: 400px;
      width: 1000px;
      border-radius: 15px;
    }
    
  }
  

  @media screen and (max-width:1450px){
    .each-slide-effect > div {
      display: flex;
      align-items: center;
      justify-content: center;
      background-size: cover;
      height: 350px;
      width: 870px;
      border-radius: 15px;
    }
    
    
    
}
@media screen and (max-width:1200px){
  .each-slide-effect > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: 250px;
    width: 750px;
    border-radius: 15px;
  }
  
  
    
    
}
@media screen and (max-width:992px){
  .each-slide-effect > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: 250px;
    width: 800px;
    border-radius: 15px;
  }
  
  
    
    
}
@media screen and (max-width:768px){
  .each-slide-effect > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: 200px;
    width: 600px;
    border-radius: 15px;
  }
  
    
    
}
@media screen and (max-width:576px){
  .each-slide-effect > div> {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: 250px;
    width: 450px;
    border-radius: 15px;
    
    
    
  }
   
  
  
    

 
    
    
    
}
 
